<div class="success">
    <h2>ご購入ありがとうございます。</h2>
    <h3>ご注文内容</h3> 
    <p>到着希望日: <%= @order.arrival%></p>
    <p>数量: <%= @order.number%>セット</p>
    <p>合計金額: <%= @order.product_price%>円</p>

    <p>※商品の発送・到着はご注文状況により多少前後することがございますので、予めご了承ください。</p>

    <a class="btn" href="/">トップページへ戻る</a>
  </div>